nav {
    background-color:#004B8C;
    width:100%;
    padding: 20px;
}
.bank {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}

.nav {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    list-style:none;
	margin:20px 0 0 0;
	padding:0;
	text-align:center;
}

.nav li {
    display:inline-block;
	text-align:center;
    width:190px;
}

.link {
    color: white;
    text-decoration:none;
}